# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

cmd/cywanalyze/*.bin
cmd/cywanalyze/*.txt
# Test binary, built with `go test -c`
*.test
*.elf

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.txt
*.log

# Dependency directories (remove the comment below to include it)
# vendor/
.vscode/*

cyw43

cmd/cyrw/secrets.go
